body {
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #184d47;
    text-align: center;
    color:antiquewhite;
    font-family: 'Source Serif Pro', serif;
}

#pomodoro {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    max-width: 30%;
    font-size: 150%;
}

#starterButton {
    border-radius: 15%;
    background-color: transparent;
    border-color: #ff6166;
    color: #fffaa0; 
}

#starterButton:hover {
    border-color: #ff8166;
}

footer {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    bottom: 0;
    font-size: 50%;
}
